<!-- Assume needed dependencies already have been installed -->
<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://localhost:5000/schemas/NLog.xsd"
      xmlns:xsi="http://localhost:5000/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- Write to console with json format {"<log level>": "<log message>"}. For example {"Warning": "Running in Development environment"}-->
  <targets>
    <target name="console" xsi:type="Console" layout="{&quot;${level:uppercase=true}&quot;: &quot;${message}&quot;}"/>
  </targets>

  <!-- Write all log level to console, minimum level is "Trace" -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
